*{
    padding: 0;
    margin:0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color:black;

}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-right: 8%;
    padding-left: 8%;
}
h1{
    color:white;
    font-size: 30px;
    letter-spacing: 2px;
    cursor:pointer

}
h1 span{
    color: dodgerblue;
}
ul li{
    color: white;
    font-size: 17px;
    display: inline-block;
    padding: 15px 30px;
    list-style: none;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
li a:hover, 
li a.active{
    color: dodgerblue;
    transition: 3s;
    border-bottom: 3px solid dodgerblue;
}
.intro{
    padding-top: 200px;
    padding-left: 8%;
}

p {
    color: whitesmoke;
    font-weight: bold;
    font-size: 30px;
}

p span{
    color: dodgerblue;
}
h3{
    color:white;
    padding-top: 15px;
    font-size: 25px;
}
h3 span{
    color: dodgerblue;
}
h4{
    color: whitesmoke;
    padding-top: 15px;
   font-weight: lighter;
   font-size: 17px;
}
img{
    float: right;
    border-radius: 50%;
    max-width: 24%;
    height: auto;
    padding-top: 60px;
    padding-right: 80px;
    
   
}
.icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
   background-color: transparent;
    color: white;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    border: 0.1rem  solid dodgerblue;
    font-size: 25px;
    margin: 25px 8px;

}
.icons a:hover{
    color: white;
    transform: scale(1.3) transparent;
    background-color: dodgerblue;

}

.hire{
    margin-top: 10px;
    background-color:dodgerblue;
    text-decoration: none;
    border: 2px solid dodgerblue;
    font-weight: bold;
    border-radius: 30px;
    transition: .4s;
    padding: 14px 30px;
    
}
.cv{
    margin-top: 10px;
    background-color:dodgerblue;
    text-decoration: none;
    border: 2px solid dodgerblue;
    font-weight: bold;
    border-radius: 30px;
    transition: .4s;
    padding: 14px 30px;
    margin-left: 22px;
}

.aboutme{
    width: 100%;
    padding: 100px 0px;
}
.about{
    color: whitesmoke;  
    padding-top: 200px;
    padding-left: 8%;
    letter-spacing: 1px;
}
.dev{
    color: dodgerblue;
    padding-top: 15px;
    font-size: 25px;
    letter-spacing: 1px;
}
h2{
    font-size: 31px;
}
.front{
    color: whitesmoke;
    padding-top: 15px;
   font-weight: lighter;
   font-size: 17px;

}
.btn{
    margin-top: 30px;
    background: dodgerblue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 30px;
    transition: .4s;
    padding: 14px 30px;
}
button:hover{
    background-color: transparent;
    border: 2px solid dodgerblue;
    cursor: pointer;
    color: whitesmoke;
}
.contact h2{
    font-size:35px;
    text-align: center;
    color: white;
    margin-top: 180px;
    margin-bottom: 30px;
}
.contact h2 span{
    color: dodgerblue;
}
.contact form{
    text-align: center;
    max-width: 50%;
    margin: 21px auto;
    margin-bottom: 30px;
}
.contact form .fill{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .fill input, .contact form textarea{
    width: 100%;
    padding: 1.5em;
    margin: 1em 0;
    font-size: 15px;
    border-radius: 25px;
    color: black;
    background-color: aliceblue;

}
.send{
    background: dodgerblue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 30px;
    transition: .4s;
    padding: 14px 30px;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: dodgerblue;
}
::-webkit-scrollbar-track{
    background-color: black;
    width: 50px;
}
/* .checkbtn{
    font-size: 30px;
    color: white;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    float: right;
}
#check{
    display: none;
}
@media screen and (max-width:1007px){
    .checkbtn{
        display: block;
        float: right;
    }
    ul{
        position: fixed;
        width: 30%;
        height: 100vh;
        background: black;
        top: 20px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
    
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: whitesmoke;
    }
    #check:checked ~ ul{
        left: 0;
    }
} */
/* label #btn, 
label #cancel{
    color: white;
    font-size: 30px;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    float: right;
    display: none;
}
#check{
    display: none;
}
@media screen and (max-width:1007px){
    label #btn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 10px;
    }
    nav ul li a{
        font-size: 17px;
    }
    #check:checked ~ ul{
        left: 0;
    }
} */
@media screen and (max-width:1007px){
 h1, p{
    font-size: 27px;
 }
 h3{
    font-size: 22px;
 }
    ul li{
        display: block;
    }

}
@media screen and (max-width:415px){
    .hire{
        padding: 10px 18px;

    }
    .cv{
        padding: 10px 18px;
    }
    .icons a{
        font-size: 19px;
        margin: 25px 5px;
    }
   .contact form, .contact form textarea{
    max-width: 70%;
   }
   .contact h2{
    font-size: 28px;
   }
 
}
@media screen and (max-width:293px){
    .hire{
        padding:8px 10px;
    }
    .cv{
        padding: 8px 9px;
        margin-left: 8px;
    }
    .icons a{
        font-size: 15px;
        margin: 25px 0px;
    }
    img{
        display: none;
    }
}